<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing GitHubs">
    <test name="Regression">
         <classes>
             <class name="FirstTest">
                 <methods>
                     <include name="someChecks"></include>
                  <!--  <include name="checkLogoOnTheLoginPage"></include>
                    <exclude name="thirdTestCase"></exclude>-->
                </methods>
             </class>

             <class name="SomeTest">
                 <methods>
                     <include name="checkLogoOnTheLoginPage"></include>
                 </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->